---
import { Image } from 'astro:assets';
interface Props {
  title: string;
  body: string;
  iconPath?: string;
  iconWidth?: number;
  iconHeight?: number;
  alt?: string;
  iconAspectRatio?: number;
  className?: string;
}
const { title, body, className, iconPath, iconHeight, iconWidth, alt } =
  Astro.props;
---

<div class=`card ${className}`>
  <div class="card__header">
    <div class="card__header__icon">
      <Image src={iconPath} width={iconWidth} alt={alt} />
    </div>
    <strong class="card__header__title">{title}</strong>
  </div>
  <div class="card__body">{body}</div>
</div>
