---
import { Image } from 'astro:assets';
interface Props {
  name: string;
  company: string;
  price: number;
  image: any;
  href: string;
}
const { href, image, name, company, price } = Astro.props;
---

<article class="product-card">
  <div class="product-card__img">
    <Image src={image} alt={name} height="250" width="250" />
  </div>
  <div class="product-card__content">
    <h3 class="product-card__name">
      <a href={href}>{name}</a>
    </h3>
    <a href={href} class="product-card__company">
      {company}
    </a>
  </div>
  <div class="product-card__price">${price}</div>
  <button class="product-card__button button"> Add to cart</button>
  <a href={href} class="product-card__link">View details</a>
</article>
